body {
    background-color: #2C73D2;
    color: rgba(255, 255, 255, 0.795)
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
}

.restartButton {
    background-color: #F9F871;
    border: none;
    border-radius: 30px;
    padding: 10px;
    width: 130px;
}

.restartButton:hover {
    background-color: #FFC75F;
}
